@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BazaarBox</h1>
</div>


    <div class="row">
        <nav class=" col-lg-2 d-md-block bg-light sidebar">
            <div class="position-sticky">
                <h5 class="sidebar-title">Filters</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        
                    </li>


                </ul>
            </div>
        </nav>
    </div>

