@page
@model E_commerce.Pages.AdminPage.UserDetailsModel
@{
    ViewData["Title"] = "User Details";
}

<h2>User Details</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Username</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.Name</td>
            </tr>
        }
    </tbody>
</table>

